body {
    color: #ddd;
    display: flex;
    justify-content: center;
    background-color: #2b2e3b;
    opacity: 0;
    transition: opacity 2s;
    font-family: Roboto;
    overflow: hidden;
}

.content {
    display: flex;
    flex-direction: column;
    flex: auto;
    justify-content: center;
}

.heading {
    font-size: 36px;
    text-align: center;
    margin: 25px 0;
}

#grids {
    margin-top: 30px;
    color: #ddd;
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-gap: 40px;
    margin: 25px;
    overflow: hidden;
}

.grid-placeholder {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
}

.grid {
    flex: auto;
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-gap: 4px;
}

.blur {
    /**filter: blur(7px);*/
}

.value {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.header {
    font-weight: bold;
    grid-column: span 2;
    border-bottom: 1px solid #999;
}

/* roboto-regular - latin */
@font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    src: url('fonts/roboto-v18-latin-regular.woff2') format('woff2');
}
